{% extends 'widgets/section.html' %}
{% load cms_tags i18n section_tags %}

{% block content %}
    <div class="container">
        <div class="box">
            {% if section.show_title_on_section %}
            <div class="center gap">
                <h2>{{ section.title }}</h2>
                <p class="lead">{{ section.content|safe }}</p>
            </div><!--/.center-->
            {% endif %}
            <ul class="portfolio-filter">
                <li><a class="btn btn-primary active" href="#" data-filter="*">{% trans 'All' %}</a></li>
                {% portfolio_categories %}
            </ul><!--/#portfolio-filter-->
            <ul class="portfolio-items col-4">
                {% for plugin in section.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
            </ul>
        </div><!--/.box-->
    </div><!--/.container-->
{% endblock content %}